.file-tree {
    padding: 0;
    margin: 0;
}

.file-tree .tree-node {
    margin-left: 1rem;
    list-style: none;
}

.file-tree .tree-node-title {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    cursor: pointer;
    display: block;
    text-align: left;
    padding: 1rem;
    width: 100%;
}

.file-tree .tree-node-title::before {
    margin-right: 1rem;
}
